name: Docker 部署 CaptchaVision API

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ALI_DOCKER_HUB_REGISTRY
    
    steps:
      # 获取代码
      - name: 迁出代码
        uses: actions/checkout@v4

      # 设置 Docker Buildx
      - name: 设置 Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 登录到阿里云容器镜像服务
      - name: 登录到阿里云容器镜像服务
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ALI_DOCKER_HUB_REGISTRY }}
          username: ${{ secrets.ALI_DOCKER_HUB_USN }}
          password: ${{ secrets.ALI_DOCKER_HUB_PWD }}

      # 构建并推送 Docker 镜像
      - name: 构建并推送 Docker 镜像
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.ALI_DOCKER_HUB_REGISTRY }}/chouvelgis/${{ secrets.REPO_NAME }}:latest
            ${{ secrets.ALI_DOCKER_HUB_REGISTRY }}/chouvelgis/${{ secrets.REPO_NAME }}:${{ github.sha }}
            ${{ secrets.ALI_DOCKER_HUB_REGISTRY }}/chouvelgis/${{ secrets.REPO_NAME }}:v${{ github.run_number }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # 部署完成通知
      - name: 部署完成
        run: echo "Docker 部署完成！"
